.register-form {
  width: 100%;
  height: 100%;

  .register-form-fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    margin-bottom: 10px;
  }

  .register-form-buttons {
    text-align: right;

    .register-form-login-button {
      width: 100px;
    }

  }

  .register-form-error-alert {
    width: 100%;
    background-color: var(--error);
  }

  .register-form-success-alert {
    width: 100%;
    background-color: var(--hit-color);
  }


}