.graph-wrapper {

  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  background-color: var(--secondary-background);
  margin: 20px;
  max-width: 320px;
  min-width: 320px;

  .graph-svg {

    width: 300px;
    height: 300px;
    cursor: crosshair;

    display: block;

    line, path, polygon {
      stroke: var(--primary-text);
      fill: var(--areas-color);
    }

    text {
      font-size: 17px;
      font-weight: 800;
      stroke: black;
      fill: var(--secondary-text);
    }

    .graph-svg-hit-success {
      fill: var(--hit-color);
      stroke: var(--hit-color);
    }

    .graph-svg-hit-miss {
      fill: var(--miss-color);
      stroke: var(--miss-color);
    }
  }
}