:root {
  --primary-text: #e3eaf1;
  --secondary-text: #a3abb1;
  --error: #f54c45;
  --primary-background: #011e3c;
  --secondary-background: #071a2f;
  --primary-border: #122e4a;
  --secondary-border: #515151;
  --borders-color: #1e232f;
  --areas-color: #18243c;
  --hit-color: #94d958;
  --miss-color: #f54c45;
}